<h1 class= "h1">New Game</h1>

<ul class= "ul">
 <% @letters.each do |letter| %>
    <li class= "ul"><%= letter %> </li>
  <% end %>
</ul>

<h2 class= "h1">What is the longgest word you can form?</h2>

<form action="/score" method="POST" class="form-inline">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <div class="input-group input-group">
    <input type="text" name="word" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Play" class="btn btn-default">
    </span>
  </div>
</form>
