// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.ul {
  list-style-type: none;
  font-weight: bold;
  overflow-x:hidden;
  white-space:nowrap;
  padding-left: 0;
  font-size: 30px;
  font-family: monospace;

  li{
    background-color: #96087e;
    background-size: 35px;
    color: white;
    border: 2px solid #000000;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 4px 12px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
  }
}

.h1{
  font-family: 'Courier New', Courier, monospace;

}
